#leaflet-map {
  width: 100%;
  margin: 0;
  z-index: 0;
  aspect-ratio: 960/768;
  background-color: rgba(80, 120, 180, 0.1);

  .leaflet-image-layer {
    margin: 0 !important;
  }
}

// to align icon
.custom-div-icon .icon {
  position: absolute;
  width: 32px;
  height: 17px;
  font-size: 16px;
  top: 6;
  margin: 0px auto;
  text-align: center;
}

// to align marker
.custom-div-icon .marker {
  mask-image: url("/static/markers/pin.svg");
  position: absolute;
  width: 32px;
  height: 48px;
  margin: 0px auto;
  text-align: center;
}
